body{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    padding: 0;
    margin: 0;
}
label {
    margin-bottom: 0;
    font-size: 2.8rem;
}
.parentContainer{
    border: 3px black solid;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.topDiv{
    min-width: 100px;
    max-width: 100%;
    box-sizing: border-box;
}
.logoDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 7rem;
}
.toggle-icon{
    width: 1cm;
    height: 0.5cm;
}
.toggleDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.toggleText{
    font-size: 1.9rem;
    padding-right: 15px;
    margin: 0;
}
.infoDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 6vh;
    padding-bottom: 3vh;
}
.jobTitlesDiv{
    display: flex;
    flex-direction: column;
    color: #ff7900;
    font-size: 1.4rem;
    font-weight: bold;
}
.contactInfoDiv{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-evenly;
    position: relative;
}
.contactInfoCardDiv{
    display: flex; 
    flex-direction: column;  
    align-items: center;
    flex: 1;
    width:30%;
}
.ib-footer{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: bold;
    padding-bottom: 1vh;
}
.fullNameLabel{
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 2rem;
    color: white;
}
p{
    text-align: center;
    font-size: 2.19rem;
    word-wrap: break-word;
    width: 100%;
    
}
.icons{
    font-size: 3rem;
}
.iconsLabel{
    margin-bottom: 0;
    margin-top: 10%;
    font-size: 2rem;
    color: white;
}
#powered-by {
    color: white;
}
.contact-image{
    width: 7rem;
    height: 7rem;
    padding-top: 0;
}
.qrDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qrText{
    padding-bottom: 0;
    margin: 0;
    font-size: 1.2rem;
}
@media screen and (max-width:500px) {
    .logo{
        height:50px;
    }
    .jobTitlesDiv{
        padding-left: 0.1cm;
        margin-bottom: 0.2cm;
    }
    .jobTitleLabel{
        font-size: 1rem;
    }
    .fullNameLabel{
        font-size: 0.5cm;
        padding-left: 0.1cm;
        padding-bottom: 0.3cm;
    }
    p{
        font-size: 1rem;
        word-wrap: break-word;
    }
    .contactInfoDiv{
        display: flex;
        flex-direction: row;
        row-gap: 0.5cm;
    }
    .contactInfoCardDiv{
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 0.1cm;
    }
    .iconsLabel{
        margin-bottom: 0.5cm;
        margin-top: 0.05cm;
        font-size: 0.4cm;
    }
    .contact-image{
        height:50px;
        width:50px;
    }
    .toggleText{
        font-size: 0.4cm;
        padding-right: 0.4cm;
        display: table-cell;
        vertical-align: middle;
        color: white;
    }
    .ib-footer{
        margin-top: 0.7cm;
        font-size: 0.3cm;
        color: black;
        font-weight: bold;
    }
    html, body {
        height: 100%;
        padding: 0;
    }
    html {
        display: table;
        margin: auto;
    }
    body {
        display: table-cell;
        vertical-align: middle;
    }
    .parentContainer{
        min-height: 28rem;
        max-height: 40rem;
        min-width: 21rem;
        max-width: 21rem;
        background-color: black;
    }
    .topDiv{
        flex: 1 1 auto;
        background-color: black;
    }
}
